<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                    <a class="nav-link active" href="/admin">Admin</a>
                    {% endif %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'distributors:lista_distributors' %}">Distributors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'ingredients:lista_ingredients' %}">Ingredients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'recipes:lista_recipes' %}">Recipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:profile' %}">Profile of {{ request.user.first_name}} {{ request.user.last_name }}</a>
                </li>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:register' %}">Register</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>

        </div>
    </div>
</nav>

